font-family: 'Fredoka One', cursive;


div {
    padding:10px 
}


p {
    font-family:'Fredoka One', cursive;
}
p {
    font-size: 50px
}
p{
     margin: 10px auto 10px auto
}

p2 {
    font-size: 35px
}
